<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <tab id="hibrido" translate="label" sortOrder="10">
            <label>Color Palette Config</label>
        </tab>
        <section
            id="colorpalette"
            translate="label"
            sortOrder="10"
            showInDefault="1"
            showInWebsite="1"
            showInStore="1"
        >
            <class>separator-top</class>
            <label>Color Palette</label>
            <tab>hibrido</tab>
            <resource>Hibrido_ColorPalette::hibrido_config</resource>
            <group
                id="general"
                translate="label"
                type="text"
                sortOrder="1"
                showInDefault="1"
                showInWebsite="1"
                showInStore="1"
            >
                <label>Configuração</label>
                <field
                    id="active"
                    translate="label"
                    type="select"
                    sortOrder="1"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                >
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field
                    id="color"
                    translate="label"
                    type="text"
                    sortOrder="2"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                >
                    <label>color</label>
                </field>
            </group>
        </section>
    </system>
</config>